.employees-table__wrapper {
  overflow-x: auto;
}

.employeess-table {
  width: 100%;
  line-height: 2em;
  border-collapse: collapse;
  min-width: 464px;
}

.employeess-table__head {
  text-align: left;
}

.employeess-table__row {
  box-shadow: 0 0 1px 0 black;
}

.employeess-table__cell {
  padding: 8px;
}

.employeess-table__empty {
  text-align: center;
}
